.icons {
    padding: 20px 15px;
    width: 100%;
    min-height: 100vh;
    background-color: #1e1e1e;
    &__list {
        margin-bottom: 20px;
        select {
            font-family: $font-0;
            color: $white;
            font-weight: bold;
            font-size: 20px;
            border: none;
            outline: none;
            border-bottom: 2px solid $white;
            background-color: transparent;
            padding: 8px 13px;
            option {
                color: #1e1e1e;
            }
        }
    }
    &__container {
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid $white;
        @include display-flex;
        @include flex-wrap(wrap);
        @include justify-content(center);
        &:last-child {
            border-bottom: none;
        }
    }
    &__category {
        width: 100%;
        margin: 0 0 15px;
        text-align: center;
        span {
            background-color: $white;
            color: #1e1e1e;
            padding: 3px 6px;
            font-family: $font-0;
            font-size: 13px;
            font-weight: bold;
            @include border-radius(3px);
        }
    }
}